@import "../variables.scss";
// FormConfig 样式
.#{$prefix}form-config {
  .form_wrap {
    // 弹窗内有需要自己修改对应的样式控制
    //max-height: 70vh;
    //overflow-y: auto;
    margin-bottom: 8px;
  }

  .el-form-item {
    margin-bottom: 16px;
		/* 隐藏formItem label */
		&.hideLabel {
			.el-form-item__label {
				display: none;
			}
		}
  }
  .footer {
    display: flex;
    //justify-content: flex-end;
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 10px 24px 0 24px;
	  //box-shadow: 1px 0 0 0 var(--el-input-border-color, var(--el-border-color));
		//box-shadow: 0 -1px -1px 0 $le-border-color_3;
		box-shadow: 0 -1px 0 -1px var(--el-border-color-lighter);
    // 取消
    .cancel-button {
      //margin-right: auto;
    }
    // 重置
    .reset-button {}
    // 提交
    .submit-button {}
    .right-actions {
      margin-left: auto;
    }
  }
}
// FormConfigDialog 样式 (区别于 le-dialog 样式以外的)
.#{$prefix}form-config-dialog {
  .el-dialog__body {
    //height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .#{$prefix}form-config {
    &--small {
      .form_wrap {
        // （el-dialog__body 的 maxHeight） - （el-dialog__body 的 padding-top）- （footer 的高度）
        // small
        max-height: calc(100vh - 160px - 53px - 20px);
      }
    }
    // 默认 medium 尺寸
    .form_wrap {
      // 弹窗内有需要自己修改对应的样式控制
      // （el-dialog__body 的 maxHeight） - （el-dialog__body 的 padding-top）- （footer 的高度）
      // medium
      max-height: calc(100vh - 160px - 57px - 20px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
