/* lance-ui 涉及lance-element-ui的全局组件样式 */
@import "variables.scss";

/* --------lance-element-ui 组件内部样式 Start-------- */
@import "lance-element/table.scss";
//@import "lance-element/vxe-table.scss";
@import "lance-element/draggableNest.scss";
@import "lance-element/formConfig.scss";
@import "lance-element/icon.scss";
@import "lance-element/inputNumber.scss";
@import "lance-element/noData.scss";
//@import "lance-element/popover.scss";
//@import "lance-element/searchGroup.scss";
@import "lance-element/searchForm.scss";
@import "lance-element/select.scss";
//@import "lance-element/dropdown.scss";
//@import "lance-element/tabs.scss";

/* --------lance-element-ui 组件内部样式 End-------- */

// table Cell 内置默认渲染相关公用样式
//@import "cellSlots.scss";


/* --------引用 lance-element-ui 根据ui/产品 用于项目的默认样式 Start-------- */

// 纯icon button 样式
.#{$prefix}icon-button {
  //font-size: 16px;
  font-size: 14px;
  padding: 0;
  border-radius: 6px;
  font-weight: 400;
  height: 32px;
  width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: $le-color_3;
  background: transparent;
  &:hover {
    background: $le-border-color_3;
    color: $le-color_3;
  }
}

// 带搜索icon 的input
.#{$prefix}input-search {
  min-width: 60px;
  flex: 1;
  margin-right: 12px;
  .el-input__suffix {
    top: 1px;
    height: calc(100% - 2px);
  }
  .el-input__icon {
    cursor: pointer;
    color: $le-color_1;
    background: #fff;
    &:hover {
      color: $le-color-primary;
    }
  }
}

// 公用 触发 提示 的 tag(el-tag) 样式
.#{$prefix}trigger-tag {
  border: 0;
  background: #f0f4f8;
  height: 22px;
  padding: 0 8px;
  line-height: 22px;
  //cursor: pointer;
}

// card卡片样式
.#{$prefix}card,
.#{$prefix}card-bg {
  display: flex;
  flex-direction: column;
  .el-card__header {
    position: relative;
    padding: 12px 24px;
    line-height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid $le-border-color_3;

    &::before {
      display: none;
      content: '';
      position: absolute;
      width: 4px;
      height: 16px;
      left: 0;
      border-radius: 4px;
      background-color: $le-color-primary;
    }
  }
  .el-card__body {
    padding: 16px 24px;
    flex: 1;
  }
}
// header 带有背景色的 和 before 条样式
.#{$prefix}card-bg {
  .el-card__header {
    background-color: $le-bg-color_3;
    &::before {
      display: block;
    }
  }
}
// $confirm 警示类型公用样式
.#{$prefix}message-box--warn {
  .el-message-box__btns button:last-child {
    border-color: $le-color-warning;
    background: $le-color-warning;
  }
}

.#{$prefix}test {}
/* --------引用 lance-element-ui 根据ui/产品 用于项目的默认样式 End-------- */
