@use "./variables.scss" as *;
body {
	font-family: $le-family;
	font-size: 14px;
	overflow-x: hidden;
}
// 页面公用样式 flex column 外壳
.flex-column-page-wrap {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
}
// 单行超出隐藏
.text-overflow-hidden {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.common_title {
	position: relative;
	display: flex;
	align-items: center;
	//line-height: 22px;
	padding: 12px 0;
	font-size: 14px;
	//color: rgba(0, 0, 0, 0.85);
	color: var(--el-text-color-primary);
	//background-color: var(--el-fill-color);
	&:before {
		content: '';
		width: 3px;
		height: 16px;
		margin-right: 6px;
		background: $le-color-primary;
	}
}

// 全局滚动条样式
::-webkit-scrollbar{width:6px;height:6px}
::-webkit-scrollbar-track{border-radius:6px;background: $le-bg-color_1;}
::-webkit-scrollbar-track:hover{background-color:rgba(0,0,0,0.06);box-shadow:0 0 0 #fff inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset}
::-webkit-scrollbar-track:active{background-color:rgba(0,0,0,0.1)}
::-webkit-scrollbar-thumb{border-radius:6px;background-color:rgba(0,0,0,0.1);box-shadow:0 0 0 #fff inset,0 0 0 #fff inset,0 0 0 rgba(255,255,255,0.9) inset,0 0 0 rgba(255,255,255,0.9) inset}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,0.4)}
::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.6)}

// 带触发器(collapsed) 的 外壳样式
.aside-wrap {
	--bezier: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	z-index: 1;
	margin-right: 28px;
	transition: all var(--bezier);
	height: 100%;
	//width: max-content;
	&--collapsed {
		// todo
	}
	// 触发器
	.trigger-bar {
		cursor: pointer;
		height: 72px;
		width: 28px;
		position: absolute;
		top: calc(50% - 28px);
		right: -28px;
		.bar__top,
		.bar__bottom {
			position: absolute;
			width: 4px;
			border-radius: 2px;
			height: 38px;
			left: 12px;
			/*	transition:
				background-color .3s var(--n-bezier),
				transform .3s var(--n-bezier);*/
			//transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
			//transition: background-color var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
			transition: background-color var(--bezier), transform var(--bezier);
			background-color: var(--el-color-info-light-5);
		}
		.bar__bottom {
			position: absolute;
			top: 34px;
		}

		&:hover {
			.bar__top,
			.bar__bottom {
				background-color: var(--el-color-info-light-3);
			}
			.bar__top {
				transform: rotate(12deg) scale(1.15) translateY(-2px);
			}
			.bar__bottom {
				transform: rotate(-12deg) scale(1.15) translateY(2px);
			}
		}
		&.trigger-bar--collapsed {
			&:hover {
				.bar__top {
					transform: rotate(-12deg) scale(1.15) translateY(-2px);
				}
				.bar__bottom {
					transform: rotate(12deg) scale(1.15) translateY(2px);
				}
			}
		}
	}
}
