/* Variables */
$prefix: 'le-';
$le-family: Helvetica Neue, Helvetica, sans-serif;

// 主题类型
$le-color-primary: #4097fd;
$le-color-success: #03B497;
$le-color-warning: #F4A508;
$le-color-danger: #F47367;
$le-color-info: #67809F;

// 文字
$le-color_1: #32363B;
$le-color_2: #5C6570;
$le-color_3: #7C8794;
$le-color_4: #A0AAB7;
$le-color_5: #BDC3C9;

// 线条
$le-border-color_1: #C6CDD5;
$le-border-color_2: #D5DBE1;
$le-border-color_3: #EAEDF0;
$le-border-color_4: #F5F7FA;

// 背景
$le-bg-color_1: #F5F6F7;
$le-bg-color_2: #F5F7FA;
$le-bg-color_3: #FAFAFA;

// hover
$le-hover-color_1: #F6F8FA;
$le-hover-color_2: #F0F7FF;

//$le-color-header: #7c8794;
//$le-color-black: #32363b;
//$le-bg-color-gray: #f5f6f7;

//$le-link-background-gray: #4097fd;
