/* Variables */
$prefix: 'ad-';
$ad-family: Helvetica Neue, Helvetica, sans-serif;

// 主题类型
$ad-color-primary: #4097fd;
$ad-color-success: #03B497;
$ad-color-warning: #F4A508;
$ad-color-danger: #F47367;
$ad-color-info: #67809F;

// 文字
$ad-color_1: #32363B;
$ad-color_2: #5C6570;
$ad-color_3: #7C8794;
$ad-color_4: #A0AAB7;
$ad-color_5: #BDC3C9;

// 线条
$ad-border-color_1: #C6CDD5;
$ad-border-color_2: #D5DBE1;
$ad-border-color_3: #EAEDF0;
$ad-border-color_4: #F5F7FA;

// 背景
$ad-bg-color_1: #F5F6F7;
$ad-bg-color_2: #F5F7FA;
$ad-bg-color_3: #FAFAFA;

// hover
$ad-hover-color_1: #F6F8FA;
$ad-hover-color_2: #F0F7FF;

//$ad-color-header: #7c8794;
//$ad-color-black: #32363b;
//$ad-bg-color-gray: #f5f6f7;

//$ad-link-background-gray: #4097fd;
